{%- include head.html -%}
{%- include header.html -%}
<div class="container">
  <div class="d-flex justify-content-center">
    <h3 class="pb-5" >
      {{page.title}}
      <small class="text-muted"> {{page.descr}} </small>
    </h3>
  </div>
</div>

<div class="container" style="z-index: 5;">
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="IPType">IP version</label>
        </div>
        <select class="custom-select" id="IPType" >
          <!-- <option value="IPvDefault">Default</option> -->
          <option value="IPv4">IPv4</option>
          <option value="IPv6">IPv6</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="showType">Show</label>
        </div>
        <select class="custom-select" id="showType">
          <option value="rttmin" selected>Minimum Latency</option>
          <option value="rttavg">Average Latency</option>
          <option value="rttmax">Max Latency</option>
          <option value="mdev">Mdev</option>
          <option value="packetloss">Packet Loss</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div>
  <style id="showDataTypeStyle">
  .rttavg, .rttmax, .mdev, .packetloss{display:none;}  
  </style>
</div>

<div class="container" style="z-index: 5;">
  <div class="row">
<div class="col-md-12 order-md-1 table-responsive tableFixHead">
  <table class="table table-hover">
    <thead>
      <tr class="thead-dark" id="lathorizontal">
        <th scope="col" class="text-center">From/To</th>
      </tr>
    </thead>
    <tbody id="latveritical">

    </tbody>
  </table>
</div>
</div>
</div>



<div class="container">
  <div class="d-flex justify-content-center" style="overflow: auto; white-space: nowrap;">
    <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-primary"> Regions </li>
      {% for page in site.pages %}
            {% for tag in page.tags %}
              {% if tag == "region" %}
            <a class="list-group-item list-group-item-action" href="{{ page.url }}">{{ page.title }}</a>
              {% endif %}
            {% endfor %}
    {% endfor %}  <!-- page -->
    
    </ul>
  </div>
</div>



{%- include footer.html -%}